.main-container {
  background-color: #273244;
  height: 100% !important;
}

.mobile-menu-icon {
  margin-top: -14px !important;
  color: #d4d7dd !important; 
}

.search-bar {
  background-color: hsl(217, 32%, 18%);
  color: #d4d7dd !important;
  width: 500px;
}


.setting-icon {
  position: absolute;
  top: 33px;
  right: 33px;
  display: flex;
  gap: 10px;
}
